[Desktop Entry]
Encoding=UTF-8
Name=XUMA
Comment=XUMA P2P Cryptocurrency
Comment[fr]=XUMA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=XUMA, eşten eşe kriptografik sanal para birimi
Exec=xuma-qt %u
Terminal=false
Type=Application
Icon=xuma128
MimeType=x-scheme-handler/xuma;
Categories=Office;Finance;
